.chip {
  display: inline-block;
  padding: 0 25px;
  height: 35px;
  font-size: 16px;
  font-color:black;
  line-height: 34px;
  border-radius: 20px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
