



<nav class="navbar navbar-toggleable-sm navbar-dark default-color-dark">
  <div class="container">
    <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <a class="navbar-brand" (click)="gotoHome()">
      <strong>PolliTics</strong>
    </a>
    <div style="float: right"  class=" navbar-collapse" id="navbarNav1">
      <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
      <!--<a class="nav-link">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link">Features</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link">Pricing</a>-->
      <!--</li>-->
      <!--<li class="nav-item dropdown btn-group">-->
      <!--<a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
      <!--<div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">-->
      <!--<a class="dropdown-item">Action</a>-->
      <!--<a class="dropdown-item">Another action</a>-->
      <!--<a class="dropdown-item">Something else here</a>-->
      <!--</div>-->
      <!--</li>-->
      <!--</ul>-->
      <div class="ml-auto">
        <ul class="navbar-nav ml-auto">
          <div *ngIf="!isLoggedIn" [routerLink]="['/auth']" >
            <div style="color: black"class="chip">
            <img style="margin-top: 1%" src=".././assets/img/user-avatar.png" alt="..." class="rounded-circle" alt="Person" width="96" height="96">

              <a>Login Now</a>
          </div></div>


          <div *ngIf="isLoggedIn">
          <li class="nav-item dropdown btn-group">
            <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div style="color: black"class="chip">
                <img [src]="imageUrl" alt="..." class="rounded-circle" alt="Person" width="96" height="96">

                {{userName}}
              </div>
            </a>
            <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" [routerLink]="['/admin']">Create a new Poll</a>
              <a class="dropdown-item" (click)="logout()">Log Out</a>
              <!--<a class="dropdown-item">Something else here</a>-->
            </div>
          </li>
          </div>
        </ul>

      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
<div id="snackbar"></div>
<footer class="page-footer default-color-dark center-on-small-only">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">

      <!--First column-->
      <div class="col-md-6" >
        <h5 class="title" >PolliTics</h5>
        <p>A Simple Platform for anonymous voting.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <h5 class="title">CSE-A</h5>
        <!--<ul>-->
          <!--<li><a href="#!">Link 1</a></li>-->
          <!--<li><a href="#!">Link 2</a></li>-->
          <!--<li><a href="#!">Link 3</a></li>-->
          <!--<li><a href="#!">Link 4</a></li>-->
        <!--</ul>-->
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright: Harshit and Himanshu

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
